body {
  margin: 0;
  /* min-height: 100vh; */
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.dark {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.light {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
  color: black;
}

h1,
p {
  font-size: 3rem;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.glow-on-hover {
  width: 150px;
  margin: 10px 20px;
  height: 50px;
  outline: none;
  color: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #111;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 2600px) {
  h1 {
    font-size: 4rem;
    display: block;
    width: 100vw;
  }

  .theme {
    display: block;
  }

  .text {
    display: block;
    width: 100vw;
  }
}

@media (max-width: 769px) {
  .text {
    font-size: 2rem;
    display: block;
    width: 100vw;
  }
}
